.login-container{
    margin-top: 10rem;
    margin-left: 15rem;
    align-items: baseline;
}
.image{
    margin-left: 80px;
}
.text{
    color: blue;
}
@media only screen and (max-width: 450px){
    .image{
        display: none;
    }
    .card{
        width: 300px;
        margin-left: -215px;
    }
}